:root{
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;

    --anchoPantalla: 1200px;
}
html {
    box-sizing: border-box;
    min-height: 100%; /*Evitar líneas*/
    font-size: 62.5%;/*Fuente responsiva*/
}
*, *:before, *:after {
    box-sizing: inherit;
}
  
body{
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    min-height: 100%; /*Evitar líneas*/
    font-size: 1.6rem;/*Equivalente a 16px*/
}

h1,h2,h3,h4{
    margin:0;
    text-align: center;
}
h3{
    color: var(--secundario);
}
header{
    background-color: white;
}

nav{
    max-width: var(--anchoPantalla);
    margin: 0 auto;
    padding: 1rem 0;
    /*flex*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width:768px){
    nav{
        flex-direction: row;
        justify-content: space-between;/*donde inicia*/
    }
}

nav a {
    color: var(--oscuro);
    text-decoration: none;
    font-size: 2.2rem;

    /*responsive*/
    margin-bottom: 2rem;
}
nav a:last-of-type{ /*al último enlace*/
    margin-bottom: 0;
}
@media(min-width:768px){
    nav a {
        margin-bottom: 0;
    }
}

p{
    font-size: 1.8rem;
    line-height: 2;
    margin:1rem;
}
.hero{
    height: 45rem;
    background-image: url(../img/freelance.png);
    position: relative;
    display: flex;/*quita el espacio*/
    justify-content: center;
    align-items: center;
}

.hero::after{
    content:'';
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom:0;
}

.contenedor-hero{
    position: relative;
    z-index: 1;/*traer arriba*/
    color:white;
    text-align: center;
}
.contenedor-hero i{
    color: var(--primario);
    font-size: 3rem;
}

.boton{
    background-color: var(--secundario);
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    padding: .5rem 2rem;
    text-transform: uppercase;
    border-radius: .6rem;
    transition: background .5s ease-in-out;
}
.boton:hover{
    background: rgb(1, 106, 117);
}
.contenedor{
    max-width: var(--anchoPantalla);
    margin: 2rem auto;
    background-color: white;
    border-radius: 1rem;
    padding: 3rem;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.34);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.34);
}

.servicio{
    margin-top: 2rem;
    /*centrar iconos*/
    display:flex;
    flex-direction: column;
    align-items: center; 
}
.icono{
    margin: 2rem 0;
}

@media(min-width:768px){
    .contenedor-servicios{
        display: flex;
        justify-content: space-between;
    }
    .servicio{
        /*flex:1; /*Todos crecen o decrecen por igual*/
        /*si se quiere que uno sea más que otro se le apunta y se pone un número mayor en flex*/

        flex: 1;
    }
}

.icono{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--primario);
    display: flex;
    justify-content: center;/*horizontal*/
    align-items: center;/*vertical*/
    font-size: 3rem;  
     
}